/* fonts styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    background-color:white;
}
#logo{
    background-image: url(/images/logo.png);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;;
}
.bg-light-gray{    
    background-color: rgb(241, 240, 240);
}
.navbar{
    background-color: #304152;
}
#navbarSupportedContent .nav-link{
    color: bisque;
}
/* for cart logo hover effect */

.cart a{
    text-decoration: none;
    list-style: none;
}
.cart a:hover{
    text-decoration: none;
    list-style: none;
}
.bg_cart_1{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.list-group-item{
    background-color: inherit !important;
}

/* for product detail page image gallery */
.carousel-indicators li{
    width: auto !important;
    height: auto !important;
}


/* for checkout page */
.bg_checkout_1{
    background-color: #8EC5FC;
}



/* for product layout design */
.single_product{
    background-color: rgb(241, 240, 240);
}
.product_img{
    position: relative;
}
.product_img .new_product{
    position: absolute;
    top: 5%;
    left: 5%;
}

.contact_form{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#product-container {
    margin: 10px;
    padding: 0 10vw;
    display: grid;
    grid: auto / auto auto auto;
    scroll-behavior: smooth;
  }
.card {
    border-radius: 5px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    flex: 0 0 auto;
    float: left;
  }
  .card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
  }

/* for services section background gradient */
.feature{
    background: rgb(0,121,230);
    background: linear-gradient(0deg, rgb(230, 0, 180) 0%, rgb(72, 255, 0) 90%);
}

/* for footer section background gradient */
 .footer_section{
    background-color:#304152;
    color: antiquewhite;
}

/* for footer links  */
.footer_links ul li{
    list-style: none;
    margin-bottom: 1rem;
}
.footer_links ul li a{
    color: #fff;
    text-decoration: none;
    transition: all 0.2s linear;
}
.footer_links ul li a:hover{
    text-decoration: none;
    color: blueviolet;
    margin-left: 5px;
}

/* for scroll to top button */
#button{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;
}

.mt-small-2{
    margin-top: 0rem!important;
}
.mt-small-5{
    margin-top: 0rem!important;
}
.mb-small-2{
    margin-bottom: 0rem!important;
}
.mb-small-5{
    margin-bottom: 0rem!important;
}
/* for mobile responsive setting */
@media(max-width: 767px){
    .mt-small-2{
        margin-top: .5rem!important;
    }
    .mt-small-5{
        margin-top: 3rem!important;
    }
    .mb-small-2{
        margin-bottom: .5rem!important;
    }
    .mb-small-5{
        margin-bottom: 3rem!important;
    }
}

/* for contact us page */

.form-group{
   background-color: rgb(241, 240, 240);

} 


.col-md-8 {
    background-color:lightgrey;
}

